@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


@layer base {
    @font-face {
        font-family: 'PPOHEAVY';
        font-style: normal;
        font-display: swap;
        src: url(../../public/fonts/PPOHeavy.otf) format('otf');
    }
}